/**
Variables
 */

$color-primary: #1870ef;
$color-primary-100: #eff3ff;
$color-primary-50: #f6f8fd;
$color-secondary: #ff6c4a;
$color-success: #2dc28e;
$color-success-lighten: #56ffd9;
$color-warning: #fd693e;
$color-grey: #7a7f96;
$color-grey-light: #f9fafb;
$color-mid-grey: #414660;
$color-danger: #ff4f4f;
$color-white: #ffffff;
$color-dark: #1e263b;
$color-dark-800: #0f131d;
$color-black: #151518;
$color-black-300: #606065;
$color-black-400: #373740;
$color-black-800: #212125;
$color-black-opacity: rgba(0, 0, 0, 0.6);
$color-divider:#DCDFE6;
$white:#ffffff;
$white-opacity:rgba(255, 255, 255, .5);

$radius: 2px;
$shadow-large: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
$shadow-medium: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$border: rgba(255, 255, 255, 0.15);

$sidemenu-width: 256px;

$spacer: 1em;

$text-small: 12px;
$text-medium: 14px;

$gordita: "Gordita", "sans-serif";
